# Игнорирование конфига тестового файла сервера
test.js
/public/uploads/
# Игнорирование дефолтной базы данных SQLite.


# Игнорирование всех логов и временных файлов.
/log/*.log
/tmp

# Игнорирование прочих ненужных файлов.
node_modules
.DS_Store
