body {
  padding-top:5px;
  margin-left: 30px;
}
}
footer {
  padding:50px;
}
div {
  width: 500px;
  border-bottom: 2px red; /* Параметры границы */
    background: #FFA07A; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
}
