<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Join</title>
    <link rel="stylesheet" href="public/css/styles.css">
    <meta name="viewport" content="width=device-width, inital-scale=1, user-scalable=no">
  </head>
  <body>
    <form class="" action="/chat" method="get">
      <label>Name</label>
      <input type="text" name="name" value="">
      <label>Room</label>
      <input type="text" name="room" value="">
      <input type="submit" class="btn btn-outline-danger"/>
    </form>
  </body>
</html>
