<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <h1><%= error %></h1><br><br>
    <form>
  <input type="button" value="В форму" onClick='location.href="http://localhost:8080/iam"'>
  </form>
    <footer>
      <% include ../partials/footer %>
    </footer>
</body>
<html>
