<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>promomongo</title>
</head>
    <body>
      <% for (var i = 0; i < data.length; i++) { %>
        <span><% = data[i].name %></span>
        <span><%= data[i].age %></span>
        <% } %>
  </body>
</html>
